body, .markdown-body table{
    background-color: rgb(40, 40, 40);
    color: rgb(220, 220, 220);
}

.markdown-body table th {
    background-color: rgb(0, 0, 0);
}

.markdown-body table td {
    background-color: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    border-bottom: 0px solid #000;
}

a {
    color: #6098ff
}

.markdown-body p strong {
    color: rgb(255, 255, 255);
}

.markdown-body code {
    background-color: rgb(20, 20, 20);
}